# transformers<=4.55.2
# triton<=3.1.0
# torch<=2.5.1
# torchao<=0.11.0
# torchaudio<=2.5.1
# torchvision<=0.20.1
# numpy<=1.26.4
# diffusers<=0.34.0
# opencv-python
# pyyaml
# scikit-learn
# scipy
# tensorboard
# timm
# tqdm
# bcolz-zipline
# prettytable
# menpo
# mxnet
# einops
# lmdb
# yapf

# conda create -n IMAG2006 python=3.10
# conda activate IMAG2006
torch==2.5.1
torchvision==0.20.1
opencv-python
matplotlib
tqdm
diffusers
peft
# opencv-python==4.13.0.92
# matplotlib==3.10.8
# tqdm==4.67.3
# diffusers==0.37.0
# peft==0.18.1
